#display > * {
    border: 1px solid black;
}
body {
    background-color: lavender;
}
#display {
    display: grid;
    grid-template-areas: 
    "title title title"
    "movieS movieS movieS"
    "yourR yourR yourR";
    width: 75%;
    grid-gap: 5px;
    max-width: 900px;
    margin: 0 auto;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    
}
#title{
    font-size: 10px;
    text-align: right;
    background-color: skyblue;
}
img {
   
    width: 400px;  
    
}


#movie-selector{
    grid-area: movieS;
}



#your-review{
   grid-area: yourR; 
}




