#display > * {
    border: 1px solid black;
}
body {
    background-color: lavender;
}
#display {
    display: grid;
    grid-template-areas: 
    "title title title"
    "movieS movieS movieS"
    "yourR yourR yourR";
    width: 75%;
    grid-gap: 5px;
    max-width: 900px;
    margin: 0 auto;
    
}

#title{
    grid-area: title;
    background-color: skyblue;
}
img {
    
    
}

#header-title {
   
    
    font-size: larger;
    text-align: right;
    /* width: 75%; */
 
}
#movie-selector{
    grid-area: movieS;
}


#dropdown {
    
}

#your-review{
   grid-area: yourR; 
}




